<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Awareness Page</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/breastinfo.css">
    <script src="https://kit.fontawesome.com/c8b2778b34.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>

     <!-- NAV BAR -->
     <nav class="bottom-bar">
      <div class="logo">
          <img src="/static/css/bg.jpg" alt="Logo" class="logoimg">
      </div>
      <ul class="bottom-bar__list">
          <div class="bottom-bar__active-indicator"></div>
          <li class="bottom-bar__link"><span class="material-symbols-outlined">
            <a class="navLink" href="/"> <i class="fa-solid fa-house"></i>
            </span>Home</a></li> 
          <!-- <li class="bottom-bar__link"><span class="material-symbols-outlined">
            <a class="navLink" href="/awareness"><i class="fa-solid fa-magnifying-glass"></i>
            </span>Awareness</a></li> -->
          <li class="bottom-bar__link"><span class="material-symbols-outlined">
            <a class="navLink" href="/information"><i class="fa-solid fa-address-card"></i>
            </span>About Us</a></li>
          <li class="bottom-bar__link"><span class="material-symbols-outlined">
            <a class="navLink" href="/login"><i class="fa-solid fa-door-open"></i>
            </span>Login</a></li>
          <li class="bottom-bar__link"><span class="material-symbols-outlined">
            <a class="navLink" href="/signup"><i class="fa-solid fa-right-to-bracket"></i>
            </span>Sign In</a></li>
        </ul>
 
</nav>

</header>

<div class="title"></div>

<div class="container">
   
   <div class="about">
      <div class="left">
          <h1>What is Breast Cancer ?</h1>
          <hr style="width:100%;text-align:left;margin-left:0">
         <ul>
            <li>Breast cancer is cancer that forms in the cells of the breasts.</li><br>
            <li>Breast cancer can occur in both men and women, but it's far more common in women.</li><br>
            <li>Breast cancer occurs almost entirely in women, but men can get breast cancer, too.</li><br>
            <li>Any breast lump or change needs to be checked by a health care professional to find out if it is benign or malignant (cancer) and if it might affect your future cancer risk.</li><br>            
         </ul>
         
      </div>

      <div class="right">
         <img src="https://images.pexels.com/photos/6303705/pexels-photo-6303705.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2;" height="500">
      </div>
      <div class="clear"></div>

   </div>
   
   
   <div class="mission">
      <div class="left">
         <img src="https://images.pexels.com/photos/6303587/pexels-photo-6303587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
      </div>

        <div class="right">
          <h1>Causes</h1>
          <hr style="width:100%;text-align:left;margin-left:0">
         <ul>
            <li>Breast cancer occurs when breast cells grow abnormally.</li><br>
            <li>Most often, breast cancer begins with cells in the milk-producing ducts (invasive ductal carcinoma).</li><br>
            <li>Breast cancer can also begin in glandular tissue called lobules (invasive lobular carcinoma) or in other cells or tissue within the breast.</li><br>
            <li>Hormonal, lifestyle, and environmental factors can increase the risk of breast cancer.</li><br>
            <li>Breast cancer is likely caused by a complex interaction of genetic makeup and environment.</li><br>
            </ul>
      </div>

      <div class="clear"></div>
      
   </div>
   
   <div class="about">
      <div class="left">
          <h1>Symptoms</h1>
          <hr style="width:100%;text-align:left;margin-left:0">
         <ul>
            <li>Swelling of all or part of a breast (even if no lump is felt)</li><br>
            <li>Skin dimpling (sometimes looking like an orange peel)</li><br>
            <li>Breast or nipple pain</li><br>
            <li>Nipple retraction (turning inward)</li><br>
            <li>Nipple or breast skin that is red, dry, flaking, or thickened</li><br>
            <li>Nipple discharge (other than breast milk)</li><br>
            <li>Swollen lymph nodes under the arm or near the collar bone (Sometimes this can be a sign of breast cancer spread even before the original tumor in the breast is large enough to be felt.)</li><br>
          </ul>   
      </div>

      <div class="right">
         <img src="https://images.pexels.com/photos/8428384/pexels-photo-8428384.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" height="600">
      </div>

      <div class="clear"></div>

   </div>
  

   <div class="mission">
      <div class="left">
         <img src="https://images.pexels.com/photos/4047077/pexels-photo-4047077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" height="500" >
      </div>

        <div class="right">
          <h1>Prevention</h1>
          <hr style="width:100%;text-align:left;margin-left:0">
         <ul>
            <li>Ask doctor about breast cancer screening</li><br>
            <li>Become familiar through self examination</li><br>
            <li>Exercising regularly</li><br>
            <li>Limit hormone therapy</li><br>
            <li>Maintain a healthy weight</li><br>
            <li>Choose a healthy diet</li><br>
            
        </ul>
      </div>
        
      <div class="clear"></div>
      
   </div>

   <div class="about">
      <div class="left">
          <h1>Risk Factors</h1>
          <hr style="width:100%;text-align:left;margin-left:0">
         <ul>
            <li>Being a female</li><br>
            <li>Increasing age</li><br>
            <li>Personal or family history of breast cancer</li><br>
            <li>Inherited genes that increase cancer risk</li><br>
            <li>Exposure to radiation</li><br>
            <li>Obesity</li><br>
            <li>Beginning period at a young age</li><br>
            <li>Beginning menopause at an older age</li><br>
            <li>Drinking alcohol etc</li><br>
            
        </ul>
      </div>

      <div class="right">
         <img src="https://images.pexels.com/photos/5723267/pexels-photo-5723267.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" height="500">
      </div>
      <div class="clear"></div>

   </div>

   <div class="mission">
      <div class="left">
         <img src="https://images.pexels.com/photos/7723582/pexels-photo-7723582.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" height="600">
      </div>

        <div class="right">
          <h1>Diagnosis</h1>
          <hr style="width:100%;text-align:left;margin-left:0">
         <p>Breast cancer is sometimes found after symptoms appear, but many women with breast cancer have no symptoms. This is why regular breast cancer screening is so important.  
            Imaging Tests to Find Breast Cancer like mammograms, breast ultrasounds,breast MRIs,Breast Biopsy etc.</p>
            
           <p>Different types of treatment are available for breast cancer.</p>
            <ul>  
               <li>Surgery</li><br>
               <li>Targeted therapy</li><br>
               <li>Immunotherapy</li><br>
               <li>Radiation therapy</li><br>
               <li>chemotherapy</li><br>

              
          </ul>
      </div>
        
      <div class="clear"></div>
      
   </div> 
   
<footer>
   <br>
   <p>• Copyright © 2023 Cancer Quest - All Rights Reserved •</p>
</footer>

</body>
</html>