<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cervical Cancer Awareness Page</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/cervicalinfo.css">
    <script src="https://kit.fontawesome.com/c8b2778b34.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>

     <!-- NAV BAR -->
     <nav class="bottom-bar">
      <div class="logo">
          <img src="/static/css/bg.jpg" alt="Logo" class="logoimg">
      </div>
      <ul class="bottom-bar__list">
          <div class="bottom-bar__active-indicator"></div>
          <li class="bottom-bar__link"><span class="material-symbols-outlined">
            <a class="navLink" href="/"> <i class="fa-solid fa-house"></i>
            </span>Home</a></li> 
          <!-- <li class="bottom-bar__link"><span class="material-symbols-outlined">
            <a class="navLink" href="/awareness"><i class="fa-solid fa-magnifying-glass"></i>
            </span>Awareness</a></li> -->
          <li class="bottom-bar__link"><span class="material-symbols-outlined">
            <a class="navLink" href="/information"><i class="fa-solid fa-address-card"></i>
            </span>About Us</a></li>
          <li class="bottom-bar__link"><span class="material-symbols-outlined">
            <a class="navLink" href="/login"><i class="fa-solid fa-door-open"></i>
            </span>Login</a></li>
          <li class="bottom-bar__link"><span class="material-symbols-outlined">
            <a class="navLink" href="/signup"><i class="fa-solid fa-right-to-bracket"></i>
            </span>Sign In</a></li>
        </ul>
 
</nav>

</header>

<div class="title"></div>

<div class="container">
   
   <div class="about">
      <div class="left">
          <h1>What is Cervical Cancer ?</h1>
          <hr style="width:100%;text-align:left;margin-left:0">
         <ul>
            <li>Cervical cancer is a type of cancer that affects the cervix</li><br>
            <li>The cervix is the lower, narrow end of the uterus that connects the uterus to the vagina</li><br>
            <li>Cervical cancer develops slowly over time</li><br>
            <li>Normal cells divide and multiply in a controlled manner</li><br>
            <li>Abnormal or damaged cells grow and multiply when they should not</li><br>
            <li>These cells may form tumors, which are lumps of tissue</li><br>
         </ul>
         
      </div>

      <div class="right">
         <img src="https://images.pexels.com/photos/5938358/pexels-photo-5938358.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
      </div>
      <div class="clear"></div>

   </div>
   
   
   <div class="mission">
      <div class="left">
         <img src="https://images.pexels.com/photos/6942177/pexels-photo-6942177.jpeg?auto=compress&cs=tinysrgb&w=600" height="800">
      </div>

        <div class="right">
          <h1>Causes</h1>
          <hr style="width:100%;text-align:left;margin-left:0">
         <ul>
            <li>HPV is a sexually transmitted infection that causes most cervical cancer.</li><br>
            <li>Persistent infection with high-risk types of HPV causes virtually all cervical cancer.</li><br>
            <li>Almost all sexually active people will get infected with HPV at some point.</li><br>
            <li>Around half of HPV infections are with high-risk (cancer-causing) types.</li><br>
            <li>High-risk HPV can also cause other types of cancer besides cervical cancer.</li><br>
            <li>HPV16 and HPV18 are the high-risk types that cause most cases of cervical cancer.</li><br>
            <li>The immune system initially helps prevent harm from the virus, but in some cases, the virus can survive for years and contribute to the development of cervical cancer.</li><br>
            <li>Other factors like environmental or lifestyle choices can also determine the likelihood of developing cervical cancer.</li><br>
            <li>Most HPV infections go away on their own as the immune system controls the infection.</li><br>
            <li>A high-risk HPV infection that lasts for many years can lead to changes in cervical cells that, if untreated, can become cancer.</li><br>
            <li>Other factors that increase the risk of cervical cancer include having a weakened immune system, smoking or exposure to secondhand smoke, early sexual activity, and exposure to DES.</li><br>
        </ul>
      </div>

      <div class="clear"></div>
      
   </div>
   
   <div class="about">
      <div class="left">
          <h1>Symptoms</h1>
          <hr style="width:100%;text-align:left;margin-left:0">
         <ul>
            <li>Vaginal bleeding after intercourse</li><br>
            <li>Vaginal bleeding between periods</li><br>
            <li>Vaginal bleeding after menopause</li><br>
            <li>Watery, bloody vaginal discharge that may be heavy and have a foul odour</li><br>
            <li>Pelvic pain or pain during intercourse</li><br>
        </ul>   
      </div>

      <div class="right">
         <img src="https://images.pexels.com/photos/8428413/pexels-photo-8428413.jpeg?auto=compress&cs=tinysrgb&w=600">
      </div>

      <div class="clear"></div>

   </div>
  

   <div class="mission">
      <div class="left">
         <img src="https://images.pexels.com/photos/8384511/pexels-photo-8384511.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
      </div>

        <div class="right">
          <h1>Prevention</h1>
          <hr style="width:100%;text-align:left;margin-left:0">
         <ul>
            <li>HPV vaccination</li><br>
            <li>Cervical cancer screening</li><br>
            <li>Condoms</li><br>
        </ul>
      </div>
        
      <div class="clear"></div>
      
   </div>

   <div class="about">
      <div class="left">
          <h1>Risk Factors</h1>
          <hr style="width:100%;text-align:left;margin-left:0">
         <ul>
            <li>HPV infection</li><br>
            <li>Sexual history</li><br>
            <li>Smoking</li><br>
            <li>Weakened immune system</li><br>
            <li>Chlamydia infectionLong term usage of oral contraceptives</li><br>
            <li>Having multiple full time pregnancies</li><br>
            <li>Exposure to DES</li><br>
            <li>Unhealthy diet</li><br>
        </ul>
      </div>

      <div class="right">
         <img src="https://images.pexels.com/photos/8460126/pexels-photo-8460126.jpeg?auto=compress&cs=tinysrgb&w=600" height="550">
      </div>
      <div class="clear"></div>

   </div>

   <div class="mission">
      <div class="left">
         <img src="https://images.pexels.com/photos/7579827/pexels-photo-7579827.jpeg?auto=compress&cs=tinysrgb&w=600" height="600">
      </div>

        <div class="right">
          <h1>Diagnosis</h1>
          <hr style="width:100%;text-align:left;margin-left:0">
         <p>Screening is looking for cancer before a person has any symptoms. This can help find cancer at an early stage. When abnormal tissue or cancer is found early, it may be easier to treat.It is important to remember that your doctor does not necessarily think you have cancer if he or she suggests a screening test. Screening tests are given when you have no cancer symptoms. If a screening test result is abnormal, you may need to have more tests done to find out if you have cancer. These are called diagnostic tests. There are three main ways to screen for cervical cancer:</p>
          <ul>
              <li>The human papillomavirus (HPV) test checks cells for infection with high-risk HPV types that can cause cervical cancer.</li><br>
               <li>The Pap test (also called a Pap smear or cervical cytology) collects cervical cells so they can be checked for changes caused by HPV that may—if left untreated—turn into cervical cancer. It can find precancerous cells and cervical cancer cells. A Pap test also sometimes finds conditions that are not cancer, such as infection or inflammation.</li><br>
               <li>The HPV/Pap cotest uses an HPV test and Pap test together to check for both high-risk HPV and cervical cell changes.</li><br>
         Different types of treatment are available for cervical cancer: 
               <li>Surgery</li><br>
               <li>Targeted therapy</li><br>
               <li>Immunotherapy</li><br>
               <li>Radiation therapy</li><br>
         </ul>
      </div>
        
      <div class="clear"></div>
      
   </div> 
   
<footer>
   <br>
   <p>• Copyright © 2023 Cancer Quest - All Rights Reserved •</p>
</footer>

</body>
</html>