<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pred</title>
    <link rel="stylesheet" href="/static/css/choice.css">
    <script src="https://kit.fontawesome.com/c8b2778b34.js" crossorigin="anonymous"></script>
</head>
<body>
    
  <nav class="bottom-bar">
    <div class="logo">
        <img src="/static/css/bg.jpg" alt="Logo" class="logoimg">
    </div>
    <ul class="bottom-bar__list">
        <div class="bottom-bar__active-indicator"></div>
        <li class="bottom-bar__link"><span class="material-symbols-outlined">
          <a class="navLink" href="/getstarted"> <i class="fa-solid fa-house"></i>
          </span>Home</a></li> 
        <!-- <li class="bottom-bar__link"><span class="material-symbols-outlined">
          <a class="navLink" href="/profile"><i class="fa fa-user"></i>
          </span>Profile</a></li> -->
        <li class="bottom-bar__link"><span class="material-symbols-outlined">
          <a class="navLink" href="/doctor"><i class="fa fa-user-md"></i>
          </span>Doctor</a></li>
        <li class="bottom-bar__link"><span class="material-symbols-outlined">
          <a class="navLink" href="/choice"><i class="fa fa-search"></i>
          </span>Prediction</a></li>
        <li class="bottom-bar__link"><span class="material-symbols-outlined">
          <a class="navLink" href="/logout"><i class="fa fa-sign-out"></i>
          </span>Sign Out</a></li>
      </ul>

</nav>
    <div class="container">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      
  <section class="section-2">
  <figure class="figure">
    <img src="https://images.pexels.com/photos/4225880/pexels-photo-4225880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    <figcaption>
      <h3 class="title">Lung</h3>
      <h3 class="hover">Predict</h3>
    </figcaption>
    <a href="/lungcancer"></a>
  </figure>
  <figure class="figure">
    <img src="https://images.pexels.com/photos/6191550/pexels-photo-6191550.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    <figcaption>
      <h3 class="title">Liver</h3>
      <h3 class="hover">Predict</h3>
    </figcaption>
    <a href="/livercancer"></a>
  </figure>
  <figure class="figure">
    <img src="https://images.pexels.com/photos/6740735/pexels-photo-6740735.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    <figcaption>
      <h3 class="title">Breast</h3>
      <h3 class="hover">Predict</h3>
    </figcaption>
    <a href="/breastcancer"></a>
  </figure>
    <figure class="figure">
    <img src="https://images.pexels.com/photos/4386467/pexels-photo-4386467.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    <figcaption>
      <h3 class="title">Cervical</h3>
      <h3 class="hover">Predict</h3>
    </figcaption>
    <a href="/cervicalcancer"></a>
  </figure>
</section>
  </div>
  <div class="horizontal-scroll2"><div class="horizontal-scroll">
    <footer class="footer-distributed">

        <div class="footer-left">
      <img src="C:\VS CODES\Website_cancer\cancerquest-low-resolution-logo-black-on-transparent-background.png">
            <h3>Cancer<span>Quest</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">Prediction</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">© 2023 CancerQuest Pvt. Ltd.</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                  <p><span>309 - Rupa Solitaire,
                     Bldg. No. A - 1, Sector - 1</span>
                    Mahape, Navi Mumbai - 400710</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 22-27782183</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@eduonix.com">support@cancer.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                We offer training and skill building courses across Technology, Design, Management, Science and Humanities.</p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>
</div></div>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>