<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CancerQuest</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/c8b2778b34.js" crossorigin="anonymous"></script>
   
  
</head>
<body>
 
    <header>
      <!-- NAV BAR -->
            <nav class="bottom-bar">
                <div class="logo">
                    <img src="/static/css/bg.jpg" alt="Logo" class="logoimg">
                </div>
                <ul class="bottom-bar__list">
                    <div class="bottom-bar__active-indicator"></div>
                    <li class="bottom-bar__link"><span class="material-symbols-outlined">
                      <a class="navLink" href="/"> <i class="fa-solid fa-house"></i>
                      </span>Home</a></li> 
                    <!-- <li class="bottom-bar__link"><span class="material-symbols-outlined">
                      <a class="navLink" href="/awareness"><i class="fa-solid fa-magnifying-glass"></i>
                      </span>Awareness</a></li> -->
                    <li class="bottom-bar__link"><span class="material-symbols-outlined">
                      <a class="navLink" href="/about"><i class="fa-solid fa-address-card"></i>
                      </span>About Us</a></li>
                    <li class="bottom-bar__link"><span class="material-symbols-outlined">
                      <a class="navLink" href="/login"><i class="fa-solid fa-door-open"></i>
                      </span>Login</a></li>
                    <li class="bottom-bar__link"><span class="material-symbols-outlined">
                      <a class="navLink" href="/signup"><i class="fa-solid fa-right-to-bracket"></i>
                      </span>Sign In</a></li>
                  </ul>
           
        </nav>
        <!-- VIDE0 -->
        <video autoplay loop muted plays-inline src="/static/css/clip.mp4" type="clip/mp4" class="video"></video>

     
    </header>
   <!-- WELCOME TO CANCERQUEST -->
<div class="Content">
    <h1>Welcome To CancerQuest</h1>
    <p class="par">CancerQuest, an AI-based prediction website, has the potential to transform cancer healthcare by improving early detection, personalized treatment, drug discovery, remote monitoring, and predictive analytics. Its implementation could lead to improved outcomes for cancer patients and reduced impact on individuals and communities affected by the disease.
       </p>  
        <a href="" class="button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Start Prediction
        </a>
  
</div>
<!-- TYPES OF CANCER TEXT -->
<div class="colorbox">
    <h3 class="colortext">This website will assist you in predicting these following types of cancers as listed below: </h3>
    
  </div>
<!-- TYPES OF CANCER -->
<div class="container">
    <div class="drop" style="--color: #ff0f5b">
      <div class="content">
        <h2>01</h2>
        <h3>Breast Cancer</h3>
        <a href="/breastinfo">Read More</a>
      </div>
    </div>
    <div class="drop" style="--color: #be01fe">
      <div class="content">
        <h2>02</h2>
        <h3>Cervical Cancer</h3>
        <a href="/cervicalinfo">Read More</a>
      </div>
    </div>
    <div class="drop" style="--color: #01b4ff">
      <div class="content">
        <h2>03</h2>
        <h3>Lung Cancer</h3>
        <a href="/lunginfo">Read More</a>
      </div>
    </div>
    <div class="drop" style="--color: #72cf78">
        <div class="content">
          <h2>04</h2>
          <h3>Liver Cancer</h3>
          <a href="/liverinfo">Read More</a>
        </div>
      </div>
  </div>
<!-- FOOTER -->
<div class="horizontal-scroll2"><div class="horizontal-scroll">
    <footer class="footer-distributed">

        <div class="footer-left">
            <h2><b><u>CANCERQUEST</u></b></h2>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">Prediction</a>
                |
                <a href="#">About</a>
                |
                <a href="#">AWARENESS</a>
            </p>

            <p class="footer-company-name">© 2023 CancerQuest Pvt. Ltd.</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                  <p><span>AMITY NOIDA,
                     SECTOR - 125, NOIDA</span>
                    UTTAR PRADESH, INDIA</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 22-27782183</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@eduonix.com">support@cancer.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the Website</span>
                CancerQuest provides general information on various types of cancer, including causes, risk factors, prevention, and diagnosis, and offers probable cancer prediction and doctor referrals if desired.</p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>
</div></div>
<script src="script.js"> </script>
<script src="script2.js"> </script>
</body>
</html>