<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liver Cancer Awareness Page</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/liverinfo.css">
    <script src="https://kit.fontawesome.com/c8b2778b34.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
  <!-- NAV BAR -->
  <nav class="bottom-bar">
   <div class="logo">
       <img src="/static/css/bg.jpg" alt="Logo" class="logoimg">
   </div>
   <ul class="bottom-bar__list">
       <div class="bottom-bar__active-indicator"></div>
       <li class="bottom-bar__link"><span class="material-symbols-outlined">
         <a class="navLink" href="/"> <i class="fa-solid fa-house"></i>
         </span>Home</a></li> 
       <!-- <li class="bottom-bar__link"><span class="material-symbols-outlined">
         <a class="navLink" href="/awareness"><i class="fa-solid fa-magnifying-glass"></i>
         </span>Awareness</a></li> -->
       <li class="bottom-bar__link"><span class="material-symbols-outlined">
         <a class="navLink" href="/information"><i class="fa-solid fa-address-card"></i>
         </span>About Us</a></li>
       <li class="bottom-bar__link"><span class="material-symbols-outlined">
         <a class="navLink" href="/login"><i class="fa-solid fa-door-open"></i>
         </span>Login</a></li>
       <li class="bottom-bar__link"><span class="material-symbols-outlined">
         <a class="navLink" href="/signup"><i class="fa-solid fa-right-to-bracket"></i>
         </span>Sign In</a></li>
     </ul>

</nav>

</header>

<div class="title"></div>

<div class="container">
   
   <div class="about">
      <div class="left">
          <h1>What is Liver Cancer ?</h1>
   
         <p>Liver cancer is cancer that begins in the cells of your liver. Liver cancer is a type of cancer that starts in the liver. Cancer starts when cells in the body begin to grow out of control.  The liver is the largest internal organ. It lies under your right ribs just beneath your right lung. It has two sections.</p>
          <ul>
             <li>Liver cancer can sometimes start in your liver (primary) or spread from another organ (secondary).</li><br>
             <li>How serious liver cancer is depends on where it is in the liver, how big it is, if it has spread, if it's primary or secondary and your general health.</li><br>
             <li>The liver is made up mainly of cells called hepatocytes. It also has other types of cells, including cells that line its blood vessels and cells that line small tubes in the liver called bile ducts. The bile ducts carry bile from the liver to the gallbladder or directly to the intestines.You cannot live without your liver. It has many important functions:</li><br>
             <li>It breaks down and stores many of the nutrients absorbed from the intestine that your body needs to function. Some nutrients must be changed (metabolized) in the liver before they can be used for energy or to build and repair body tissues.</li><br>
             <li>It makes most of the clotting factors that keep you from bleeding too much when you are cut or injured.</li><br>
             <li>It delivers bile into the intestines to help absorb nutrients.</li><br>
             <li>It breaks down alcohol, drugs, and toxic wastes in the blood, which then pass from the body through urine and stool.</li><br>
             <li>The different types of cells in the liver can form several types of malignant (cancerous) and benign (non-cancerous) tumors. These tumors have different causes, are treated differently, and have a different prognosis (outlook).</li>
          </ul>       
      </div>

      <div class="right">
         <img src="https://images.pexels.com/photos/208512/pexels-photo-208512.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </div>
      <div class="clear"></div>

   </div>
   
   
   <div class="mission">
      <div class="left">
         <img src="https://images.pexels.com/photos/3783806/pexels-photo-3783806.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </div>

        <div class="right">
          <h1>Causes</h1>
        
         <ul>
            <li>Liver cancer happens when liver cells develop changes (mutations) in their DNA.</li><br>
            <li>Sometimes the cause of liver cancer is known, such as with chronic hepatitis infections.</li>
        </ul>
      </div>

      <div class="clear"></div>
      
   </div>
   
   <div class="about">
      <div class="left">
          <h1>Symptoms</h1>
     
         <ul>
            <li>Loss of appetite</li><br>
            <li>Abdominal swelling</li><br>
            <li>Losing weight rapidly</li><br>
            <li>Nausea, vomiting, general weakness and fatigue</li><br>
            <li>White chalky stools</li><br>
            <li>Yellow discoloration or jaundice</li>
        </ul>   
      </div>

      <div class="right">
         <img src="https://images.pexels.com/photos/6285304/pexels-photo-6285304.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </div>

      <div class="clear"></div>

   </div>
  

   <div class="mission">
      <div class="left">
         <img src="https://images.pexels.com/photos/3985170/pexels-photo-3985170.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </div>

        <div class="right">
          <h1>Prevention</h1>
        
         <ul>
            <li>Reduce risk of cirrhosis by maintaining healthy weight and controlling alcohol consumption</li><br>
            <li>Get vaccinated against hepatitis B</li><br>
            <li>Get regular screening done</li><br>
            <li>Take measures to prevent hepatitis c by knowing the health status of sexual partner, avoiding the usage of IV drugs and ensuring sterilisation of needles during piercing or tattoos</li>
        </ul>
      </div>
        
      <div class="clear"></div>
      
   </div>

   <div class="about">
      <div class="left">
          <h1>Risk Factors</h1>
      
         <ul>
            <li>Chronic infection with HBV or HCV</li><br>
            <li>Cirrhosis</li><br>
            <li>Inherited liver diseases</li><br>
            <li>Diabetes</li><br>
            <li>Non alcoholic fatty liver disease</li><br>
            <li>Excessive alcohol consumption</li>
        </ul>
      </div>

      <div class="right">
         <img src="https://images.pexels.com/photos/5054666/pexels-photo-5054666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </div>
      <div class="clear"></div>

   </div>

   <div class="mission">
      <div class="left">
         <img src="https://images.pexels.com/photos/1250655/pexels-photo-1250655.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </div>

        <div class="right">
          <h1>Diagnosis</h1>
       
         <p>Screening is looking for cancer before a person has any symptoms. This can help find cancer at an early stage. When abnormal tissue or cancer is found early, it may be easier to treat.It is important to remember that your doctor does not necessarily think you have cancer if he or she suggests a screening test. Screening tests are given when you have no cancer symptoms. If a screening test result is abnormal, you may need to have more tests done to find out if you have cancer. These are called diagnostic tests.</p>
          <ul>
              <li>Surgery</li><br>
              <li>Surveillance</li><br>
              <li>Liver transplant</li><br>
              <li>Ablation therapy</li><br>
              <li>Embolization therapy</li><br>
              <li>Targeted therapy</li><br>
              <li>Immunotherapy</li><br>
              <li>Radiation therapy</li><br>
              <li>Clinical trials</li>
          </ul>
      </div>
        
      <div class="clear"></div>
      
   </div> 
   
<footer>
   <br>
   <p>• Copyright © 2023 Cancer Quest - All Rights Reserved •</p>
</footer>

</body>
</html>