<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lung Cancer Awareness Page</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/lunginfo.css">
    <script src="https://kit.fontawesome.com/c8b2778b34.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
  <!-- NAV BAR -->
  <nav class="bottom-bar">
    <div class="logo">
        <img src="/static/css/bg.jpg" alt="Logo" class="logoimg">
    </div>
    <ul class="bottom-bar__list">
        <div class="bottom-bar__active-indicator"></div>
        <li class="bottom-bar__link"><span class="material-symbols-outlined">
          <a class="navLink" href="/"> <i class="fa-solid fa-house"></i>
          </span>Home</a></li> 
        <!-- <li class="bottom-bar__link"><span class="material-symbols-outlined">
          <a class="navLink" href="/awareness"><i class="fa-solid fa-magnifying-glass"></i>
          </span>Awareness</a></li> -->
        <li class="bottom-bar__link"><span class="material-symbols-outlined">
          <a class="navLink" href="/information"><i class="fa-solid fa-address-card"></i>
          </span>About Us</a></li>
        <li class="bottom-bar__link"><span class="material-symbols-outlined">
          <a class="navLink" href="/login"><i class="fa-solid fa-door-open"></i>
          </span>Login</a></li>
        <li class="bottom-bar__link"><span class="material-symbols-outlined">
          <a class="navLink" href="/signup"><i class="fa-solid fa-right-to-bracket"></i>
          </span>Sign In</a></li>
      </ul>

</nav>
</header>

<div class="title"></div>

<div class="container">
   
   <div class="about">
      <div class="left">
          <h1>What is Lung Cancer?</h1>
       
         <p>Lung cancer is a type of cancer that begins in the lungs and is the leading cause of cancer deaths worldwide. People who smoke have the greatest risk of lung cancer.<br><br>It is a disease caused by uncontrolled cell division in your lungs — usually in the airways (bronchi or bronchioles) or small air sacs (alveoli).</p>    
      </div>

      <div class="right">
         <img src="https://images.pexels.com/photos/6436311/pexels-photo-6436311.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </div>
      <div class="clear"></div>

   </div>
   
   
   <div class="mission">
      <div class="left">
         <img src="https://images.pexels.com/photos/6941105/pexels-photo-6941105.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </div>

        <div class="right">
          <h1>Causes</h1>
      
         <ul>
            <li>Lung cancer is caused by cells that keep dividing even though they shouldn't. All cells have a built-in off switch that keeps them from dividing or causes them to die off when necessary</li><br>
            <li>Cancer cells are normal cells that have gained mutations that remove the off switch, allowing them to multiply unchecked</li><br>
            <li>Cancer cells can spread through the bloodstream or lymph nodes to other parts of the body. Certain factors, such as smoking tobacco products, can increase the risk of cell damage and lung cancer</li><br>
            <li>Smoking is the leading cause of lung cancer, even in those exposed to secondhand smoke</li><br>
            <li>Lung cancer can also occur in people who never smoked or had prolonged exposure to secondhand smoke.  Smoking damages lung tissue by introducing carcinogens to the body</li>
        </ul>
      </div>

      <div class="clear"></div>
      
   </div>
   
   <div class="about">
      <div class="left">
          <h1>Symptoms</h1>
      
         <ul>
            <li>A new cough that doesn't go away</li><br>
            <li>Coughing up blood, even a small amount</li><br>
            <li>Shortness of breath</li><br>
            <li>Chest and Bone pain</li><br>
            <li>Hoarseness</li><br>
            <li>Headache</li><br>
            <li>Losing weight without trying</li>
        </ul> 
      </div>

      <div class="right">
         <img src="https://images.pexels.com/photos/8376331/pexels-photo-8376331.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </div>

      <div class="clear"></div>

   </div>
  

   <div class="mission">
      <div class="left">
         <img src="https://images.pexels.com/photos/3962285/pexels-photo-3962285.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </div>

        <div class="right">
          <h1>Prevention</h1>
      
         <ul>
            <li>Stop smoking</li><br>
            <li>Avoid carcinogens</li><br>
            <li>Exercise regularly</li><br>
            <li>Eat diet full of fruits and vegetables</li>
        </ul>
      </div>
        
      <div class="clear"></div>
      
   </div>

   <div class="about">
      <div class="left">
          <h1>Risk Factors</h1>
        
         <ul>
            <li>Smoking</li><br>
            <li>Previous radiation therapy</li><br>
            <li>Being exposed to secondhand tobacco smoke</li><br>
            <li>Being exposed to harmful substances, like air pollution, radon, asbestos, uranium, diesel exhaust, silica, coal products and others</li><br>
            <li>Having previous radiation treatments to your chest (for instance, for breast cancer or lymphoma)</li><br>
            <li>Having a family history of lung cancer</li>
        </ul>
      </div>

      <div class="right">
         <img src="https://images.pexels.com/photos/301966/pexels-photo-301966.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
      </div>
      <div class="clear"></div>

   </div>

   <div class="mission">
      <div class="left">
         <img src="https://images.pexels.com/photos/4226219/pexels-photo-4226219.jpeg?auto=compress&cs=tinysrgb&w=600">
      </div>

        <div class="right">
          <h1>Diagnosis</h1>
       
         <ul>
            <li>A multi-step process</li><br>
            <li>Symptoms similar to other common illnesses</li><br>
            <li>Initial tests may include blood tests and a chest X-ray</li><br>
            <li>X-rays cannot diagnose lung cancer, only indicate if further testing is needed</li><br>
            <li>Further testing may include a CT scan, biopsy, and PET/CT scan to determine if cancer has spread</li><br>
            <li>Designed to remove or slow down cancer growth</li><br>
            <li>Some therapies also used to relieve pain and symptoms</li><br>
            <li>Treatment plan depends on type, location, and extent of lung cancer, among other factors</li><br>
            <li>Treatments can remove cancerous cells, destroy them, prevent multiplication, or teach immune system to fight them</li>
        </ul>
      </div>
        
      <div class="clear"></div>
      
   </div> 
   
<footer>
   <br>
   <p>• Copyright © 2023 Cancer Quest - All Rights Reserved •</p>
</footer>

</body>
</html>