*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-image: url(https://images.pexels.com/photos/876467/pexels-photo-876467.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
     /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header{
    width: 100%;
    height: 100vh;
}
.logoimg{
    height: 60px;
    width: 290px;
    padding-top: 2%;
    padding-bottom: 2%;

}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
:root {
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .material-symbols-outlined {
    font-size: 24px;
    font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 40;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  .bottom-bar {
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%;
    height: 56px;
    background: black;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.1));
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bottom-bar__list {
    flex-basis: 32rem;
    display: flex;
    position: relative;
    cursor: pointer;
  }
  
      
  .bottom-bar__link {
    color: #ffffff;
    flex: 1;
    font-size: 0.675rem;
    font-weight: 300;
    letter-spacing: 0.025rem;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    z-index: 2;
  }
  .content{
    padding-bottom: 0px;
    margin: 0;
  }

  /* .bottom-bar__link:hover, .bottom-bar__link:focus, .bottom-bar__link:active {
      animation-delay: 0s, .3s;
      animation-direction: normal, alternate;
      animation-duration: .3s, 1.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1, infinite;
      animation-name: hover-bob-float, hover-bob;
      animation-timing-function: ease-out, ease-in-out;
      cursor: pointer;
    }
    @keyframes hover-ab {
      0% {
        transform: translateY(6px);
      }
      50% {
        transform: translateY(-3px);
      }
      100% {
        transform: translateY(6px);
      }
    }
    @keyframes hover-bob-float {
      100% {
        transform: translateY(6px);
      }
    }  */
   
  nav ul li a{
    color: white;
    text-decoration: none;
  }
    .bottom-bar__link:hover, .bottom-bar__link:focus, .bottom-bar__link:active {
      animation: hover-pulse 1s linear infinite;
      cursor: pointer;
    }
    
    @keyframes hover-pulse {
      25% {
        transform: scale(1.1);
      }
      75% {
        transform: scale(0.9);
      }
    }
.content{
  align-items: center;
  position: relative;
  padding: auto;
  margin: 50px;
  color: black;
}

.head{
  align-items: center;
  background-color: black;
  color: white;
  font-size: 30px;
  height: 40px;
  width: 30%;
}

tr:nth-of-type(odd) { 
	background: #eee; 
	}
th { 
  font-weight: bold; 
      }

td, th { 
  padding: 10px; 
  border: 1px solid #ccc; 
  text-align: center; 
  font-size: 18px;
        }

.content1 {
  height: 180px;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.7); /* change the opacity level to 0.7 */
  color: white;
  padding: 5px;
  margin: auto;
  border-radius: 10px;
  font-size: medium;
        }