*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

.body
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*-------------------------------------------------------------------------- NAVIGATION BAR -------------------------------------------------------------------------*/
header{
  width: 100%;
  height: 100vh;
}
.logoimg{
  height: 60px;
  width: 290px;
  padding-top: 2%;
  padding-bottom: 2%;

}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
:root {
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.material-symbols-outlined {
  font-size: 24px;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 40;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.bottom-bar {
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%;
  height: 56px;
  background: black;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.1));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-bar__list {
  flex-basis: 32rem;
  display: flex;
  position: relative;
  cursor: pointer;
}

    
.bottom-bar__link {
  color: #ffffff;
  flex: 1;
  font-size: 0.675rem;
  font-weight: 300;
  letter-spacing: 0.025rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  z-index: 2;
}

/* .bottom-bar__link:hover, .bottom-bar__link:focus, .bottom-bar__link:active {
    animation-delay: 0s, .3s;
    animation-direction: normal, alternate;
    animation-duration: .3s, 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1, infinite;
    animation-name: hover-bob-float, hover-bob;
    animation-timing-function: ease-out, ease-in-out;
    cursor: pointer;
  }
  @keyframes hover-ab {
    0% {
      transform: translateY(6px);
    }
    50% {
      transform: translateY(-3px);
    }
    100% {
      transform: translateY(6px);
    }
  }
  @keyframes hover-bob-float {
    100% {
      transform: translateY(6px);
    }
  }  */
 
nav ul li a{
  color: white;
  text-decoration: none;
}
  .bottom-bar__link:hover, .bottom-bar__link:focus, .bottom-bar__link:active {
    animation: hover-pulse 1s linear infinite;
    cursor: pointer;
  }
  
  @keyframes hover-pulse {
    25% {
      transform: scale(1.1);
    }
    75% {
      transform: scale(0.9);
    }
  }
 /*------------------------------------------------------------------------ FORM LAYOUT -----------------------------------------------------------------------------*/

 .bg-img 
 {
      background-image: url("https://assets.technologynetworks.com/production/dynamic/images/content/322699/hepatitis-c-drugs-reduce-liver-related-deaths-by-46-322699-640x360.jpg");
      min-height: 800px;
      margin-top: 57px;
 
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
   }
   
   /* Add styles to the form container */
   .container 
   {
     position: relative;
     align-content: center;
     margin-left: 535px;
     max-width: 425px;
     padding: 15px;
     background-color: white;
   }
   
   /* Full-width input fields */
     input[type=text], input[type=text] 
     {
     width: 108%;
     padding: 15px;
     margin: 5px 0 10px 0;
     border: 0cap;
     background: #f1f1f1; 
   }
   
   input[type=text]:focus, input[type=text]:focus 
   {
     background-color: #ddd;
     outline: black;
   }
   
   /* Set a style for the submit button */
   .btn 
   {
     background-color: rgba(255,65,54,255);
     color: white;
     padding: 16px 20px;
     border: black;
     cursor: pointer;
     width: 100%;
     opacity: 0.9;
   }
   
   .btn:hover 
   {
     opacity: 10;
   }
 
 /*------------------------------------------------------------------------- POP UP BOX -----------------------------------------------------------------------------*/
    
 .box 
 {
   width: 40%;
   margin: 0 auto;
   padding: 30px;
   background-clip: padding-box;
   text-align: center;
 }
 
 .button 
 {
   background-color: rgba(255,65,54,255);
   font-size: 1em;
   padding: 6px;
   color: #fff;
   border: 2px solid wheat;
   border-radius: 50px;
   text-decoration: none;
   cursor: pointer;
   transition: all 0.3s ease-out;
   position: relative;
 }
 
   .button:hover 
   {
     background: rebeccapurple;
   }
 
   .overlay 
   {
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: rgba(0, 0, 0, 0.7);
     transition: opacity 500ms;
     visibility: hidden;
     opacity: 0;
   }
 
   .overlay:target 
   {
     visibility: visible;
     opacity: 1;
   }
 
   .popup 
   {
     margin: 182px auto;
     padding: 20px;
     background: #fff;
     border-radius: 1px;
     width: 30%;
     position: relative;
     transition: all 5s ease-in-out;
     margin-left: 50px;
   }
   
   .popup h2 
   {
     margin-top: 0;
     color: #333;
     font-family: Arial;
   }
   .popup .close 
   {
     position: absolute;
     top: 20px;
     right: 30px;
     transition: all 200ms;
     font-size: 30px;
     font-weight: bold;
     text-decoration: none;
     color: #333;
   }
   .popup .close:hover 
   {
     color: rgba(255,65,54,255);
   }
   .popup .content 
   {
     max-height: 30%;
     overflow: auto;
   }
 
   @media screen and (max-width: 700px)
   {
     .box{
       width: 70%;
     }
     .popup{
       width: 70%;
     }
   }
 
   h3 
   {
     font-size: x-large;
     font-weight: 200;
     text-align: center;
     font-family: Arial;
     color: #ffffff;
     position: relative;
   }
 
   h1
   {
     font-weight: bold;
     font-size: x-large;
     text-align: center;
     font-family: Arial;
     color: #000000;
     position: relative;
   }  