*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/* header{
    width: 100%;
    height: 100vh;
} */
.logoimg{
    height: 60px;
    width: 290px;
    padding-top: 2%;
    padding-bottom: 2%;

}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
:root {
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .material-symbols-outlined {
    font-size: 24px;
    font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 40;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  .bottom-bar {
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%;
    height: 56px;
    background: black;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.1));
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bottom-bar__list {
    flex-basis: 32rem;
    display: flex;
    position: relative;
    cursor: pointer;
  }
  
 ul.bottom-bar__list{
  padding-top: 13px;
 }  
  .bottom-bar__link {
    color: #ffffff;
    flex: 1;
    font-size: 0.675rem;
    font-weight: 300;
    letter-spacing: 0.025rem;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    z-index: 2;
  }

  nav ul li a{
    color: white;
    text-decoration: none;
  }
    .bottom-bar__link:hover, .bottom-bar__link:focus, .bottom-bar__link:active {
      animation: hover-pulse 1s linear infinite;
      cursor: pointer;
    }
    
    @keyframes hover-pulse {
      25% {
        transform: scale(1.1);
      }
      75% {
        transform: scale(0.9);
      }
    }
  
  .wrapper{
    background-color: rgb(0,0,0,0.2);
    margin:auto;
    margin-top: 30px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    position:relative;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 500px;
  }
  .wrapper:before{
    background-image: url(https://images.pexels.com/photos/1069798/pexels-photo-1069798.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-background-size:cover ;
    background-size: cover;
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;

  }
  .wrapper .header-text{
    color: white;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 30px;
    text-align: center;
  }

  .wrapper input{
    margin: 10px 0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
  }
  p{
    padding: 0;
    margin: 0;
    color:white;
  }
  .a{
    color:white;
    top: 180px;
    position: relative;
    margin: auto;
    width: 60%;
    padding: 10px;
}

a#login-button.button.logout.login.w-button {
  background-color: white;
  background-image: none;
  border-radius: 50px;
  border-width: 0;
  bottom: auto;
  box-sizing: border-box;
  color: #253858;
  cursor: pointer;
  display: block;
  flex: 1;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 19px;
  width: 100px;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  top: 0;
  transition: background-color 150ms;
  z-index: 30;
}
 
a#login-button.button.logout.login.w-button:active {
  outline: 0;
}
 
a#login-button.button.logout.login.w-button:hover {
  background-color:green;
  font-weight: 400;
  outline: 0;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  bottom: 5px;
  left: 145px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-16 {
  border: none;
  color: #000;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}
